.post-toc {
  position: fixed;
  right: 20px;
  top: 30vh;
  border: solid 2px;
  padding: 10px 5px;
  border-radius: 5px;
}
.post-toc .post-toc-wrap {
  max-width: 100px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.post-toc .post-toc-wrap .post-toc-title {
  font-weight: 500;
  font-size: 22px;
}
.post-toc .post-toc-wrap ol {
  padding: 0;
}
.post-toc .post-toc-wrap ol li {
  list-style-type: none;
  cursor: pointer;
  font-size: 14px;
}
.post-toc .post-toc-wrap ol :hover {
  color: #0177aa;
}
.post-toc .post-toc-wrap::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1200px) {
  .post-toc {
    display: none;
  }
}
